---
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths() {
  // const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
  const allPosts = await getCollection("blog");
  // const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())]
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  // const uniqueTags = new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()).values().toArray()
  // console.log(uniqueTags)

  // return [
  //   { params: { tag: "astro" }, props: {posts: allPosts} },
  //   { params: { tag: "successes" }, props: {posts: allPosts} },
  //   { params: { tag: "community" }, props: {posts: allPosts} },
  //   { params: { tag: "blogging" }, props: {posts: allPosts} },
  //   { params: { tag: "setbacks" }, props: {posts: allPosts} },
  //   { params: { tag: "learning in public" }, props: {posts: allPosts} },
  // ];

  return uniqueTags.map((tag: any) => {
    // const filteredPosts: any = allPosts.filter((post: any) => post.frontmatter.tags?.includes(tag));
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );


    return {
      params: { tag: tag }, props: { posts: filteredPosts }
    }
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    { posts.map((post) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />) }
  </ul>
</BaseLayout>
